.bgimg-1 {
  background-image: url("bg1.png");
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;

  span {
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 32px "Lato", sans-serif;
    color: #fff;
  }
}